services:
  web:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./frontend:/usr/share/nginx/html
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/certs:/etc/nginx/certs
    healthcheck:
      test: ["CMD" ,"curl", "-f", "http://localhost:80"]
      interval: 10s
      timeout: 3s
      retries: 3
  api:
    build:
      context: ./api
      target: final
    ports:
      - "5000:5000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/api"]
      interval: 10s
      timeout: 3s
      retries: 3